In [3]:
# Dependencies
import pandas as pd
import db_connect
import os

print(os.getcwd())

my_connection = db_connect.DBConnector()

C:\Users\Ben Galde\workspace\service-industry\src\py
C:\Users\Ben Galde\workspace\service-industry\src\py
Config file loading successful

In [4]:
my_df = my_connection.get_raw_data("average-salary")
my_df.groupby(['ID Industry Group','Year'])
my_df

,_id,ID Industry Group,Industry Group,ID Year,Year,ID Workforce Status,Workforce Status,Average Wage,Average Wage Appx MOE,Record Count,Slug Industry Group
0,6068cffd8c5ea93b98bbcfc5,111,Farming,2019,2019,True,True,36665.272304,1203.902813,8748,farming
1,6068cffd8c5ea93b98bbcfc6,112,Animal production & aquaculture,2019,2019,True,True,36287.452034,1638.487372,4471,animal-production-aquaculture
2,6068cffd8c5ea93b98bbcfc7,1133,Logging,2019,2019,True,True,41511.598188,2948.306663,893,logging
3,6068cffd8c5ea93b98bbcfc8,113,Forestry except logging,2019,2019,True,True,58043.058917,4672.505567,548,forestry-except-logging
4,6068cffd8c5ea93b98bbcfc9,114,"Fishing, hunting & trapping",2019,2019,True,True,47610.736817,7518.751605,343,fishing-hunting-trapping
...,...,...,...,...,...,...,...,...,...,...,...
1597,6068cffd8c5ea93b98bbd602,928110,U. S. Navy,2014,2014,True,True,44854.484730,2227.580183,2279,u-s-navy
1598,6068cffd8c5ea93b98bbd603,928110,U. S. Marines,2014,2014,True,True,34784.407309,1546.461464,1430,u-s-marines
1599,6068cffd8c5ea93b98bbd604,928110,U. S Coast Guard,2014,2014,True,True,49995.701336,4298.602558,313,u-s-coast-guard
1600,6068cffd8c5ea93b98bbd605,928110,U. S. Armed Forces: Branch Not Specified,2014,2014,True,True,49444.435382,4050.963314,429,u-s-armed-forces-branch-not-specified
1601,6068cffd8c5ea93b98bbd606,928110,Military Reserves or National Guard,2014,2014,True,True,37721.569236,7450.060922,116,military-reserves-or-national-guard